@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-image {
  background-image: url('/public/images/thinking_man.png');
  background-position: -120px -00px;
  height: 80vh;
  width: 50%;
  z-index: -1;
  overflow: hidden;
  background-repeat: no-repeat;
  top: 5%;
  left: 5%;
  opacity: 0.5;
}

canvas {
  border: 1px solid black;
  border-radius: 16px;
}
