package components

templ Footer() {
	<footer class="z-50 absolute bottom-0 opacity-80 w-full text-white   bg-[#000E12] pt-2 pb-2">
		<div class=" flex items-center justify-between container text-sm">
			<p class="text-orange-800  pl-4 pr-4 pt-2 pb-2 mr-20 ">mbumwa3D.mbumwa.com</p>
			<p href="./signup" class="pl-4 pr-4 pt-2 pb-2  text-gray-500 ">&copy;2024 mbumwa.com</p>
		</div>
	</footer>
}
