package components

templ NothingFound() {
<div class="container text-center flex flex-col gap-2">
  <h1 class="text-gray-800">Nothing found!</h1>
  <p class="text-gray-800 text-sm tracking-wide">
    You do not have any processing orders yet.
  </p>
</div>
}
