package layouts

templ Base() {
<!DOCTYPE html>
<html lang="en">

<head>
	<title>mbumwa 3D | For all your 3D printing needs</title>
	<link rel="icon" type="image/x-icon" href="/public/favicon.ico" />
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/public/assets/styles.css" />
</head>

<body class="antialiased">
	{ children... }
</body>

</html>
}
