package processing

import "github.com/mwaurathealex/mbumwa3d/internal/views/layouts"

templ Index() {
	@layouts.Base() {
		@Content()
	}
}

templ Content() {
	<div class="text-red-500 text-lg">Processing</div>
}
